.container {
    box-shadow: 0 0 20px rgb(47, 47, 47);
    border-radius: 5px;
    width: 30%;
    background: rgb(47, 47, 47)
}

@media screen and (max-width: 1100px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}