.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.header-link {
    display: inline-flex;
    padding: 5px 20px;
    margin: 10px;
    background-color: rgba(229, 101, 59, 1);
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
}

.header-link:hover {
    /* background-color: rgba(229, 101, 59, .9); */
    box-shadow: 0 0 20px rgba(229, 101, 59, 1);
}

.link-logo {
    display: inline-block;
    height: 50px;
}