.button {
    height: 50px;
    width: 100%;
    background: #e5653b;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.button:hover {
    box-shadow: 0 0 20px #e5653b;
}